<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>List of Customers</title>
</head>
<body>
<h1>Information Of Customer Form</h1>
<ul class="list-group">
    <li class="list-group-item">
        <strong>Company Name:</strong> <%= getOneCustomerInfo.companyName %><br>
    </li>
    <li class="list-group-item">
        <strong>MC Number:</strong> <%= getOneCustomerInfo.mc %><br>
    </li>
    <li class="list-group-item">
        <strong>Additional Note:</strong> <%= getOneCustomerInfo.additionalNote %><br>
    </li>
    <li class="list-group-item">
        <strong>Address:</strong> <%= getOneCustomerInfo.address %><br>
    </li>
    <li class="list-group-item">
        <strong>City:</strong> <%= getOneCustomerInfo.city %><br>
    </li>
    <li class="list-group-item">
        <strong>State:</strong> <%= getOneCustomerInfo.state %><br>
    </li>
    <li class="list-group-item">
        <strong>Zip:</strong> <%= getOneCustomerInfo.zip %><br>
    </li>
    <li class="list-group-item">
        <strong>Primary Phone:</strong> <%= getOneCustomerInfo.primaryPh %><br>
    </li>
    <li class="list-group-item">
        <strong>Extension:</strong> <%= getOneCustomerInfo.ext %><br>
    </li>
    <li class="list-group-item">
        <strong>Secondary Phone:</strong> <%= getOneCustomerInfo.secondaryPh %><br>
    </li>
    <li class="list-group-item">
        <strong>General Contact:</strong> <%= getOneCustomerInfo.generalContact %><br>
    </li>
    <li class="list-group-item">
        <strong>Cell:</strong> <%= getOneCustomerInfo.cell %><br>
    </li>
    <li class="list-group-item">
        <strong>Legal Name:</strong> <%= getOneCustomerInfo.legalName %><br>
    </li>
    <li class="list-group-item">
        <strong>DBA Name:</strong> <%= getOneCustomerInfo.dbaName %><br>
    </li>
    <li class="list-group-item">
        <strong>FID:</strong> <%= getOneCustomerInfo.fid %><br>
    </li>
    <li class="list-group-item">
        <strong>W9 File:</strong> <%= getOneCustomerInfo.w9File %><br>
    </li>
    <li class="list-group-item">
        <strong>Insurance Company Name:</strong> <%= getOneCustomerInfo.insuranceCompanyName %><br>
    </li>
    <li class="list-group-item">
        <strong>Liability Coverage:</strong> <%= getOneCustomerInfo.liabilityCoverage %><br>
    </li>
    <li class="list-group-item">
        <strong>Cargo Coverage:</strong> <%= getOneCustomerInfo.cargoCoverage %><br>
    </li>
    <li class="list-group-item">
        <strong>Liability Expiry Date:</strong> <%= getOneCustomerInfo.liabilityExpDate %><br>
    </li>
    <li class="list-group-item">
        <strong>Cargo Expiry Date:</strong> <%= getOneCustomerInfo.cargoExpDate %><br>
    </li>
    <li class="list-group-item">
        <strong>COI File:</strong> <%= getOneCustomerInfo.coiFile %><br>
    </li>
    <li class="list-group-item">
        <strong>Payment Method:</strong> <%= getOneCustomerInfo.payment %><br>
    </li>
    <li class="list-group-item">
        <strong>Pay To Company Name:</strong> <%= getOneCustomerInfo.payToCompanyName %><br>
    </li>
    <li class="list-group-item">
        <strong>Pay To Company Address:</strong> <%= getOneCustomerInfo.payToCompanyAddress %><br>
    </li>
    <li class="list-group-item">
        <strong>Payment City:</strong> <%= getOneCustomerInfo.paymentCity %><br>
    </li>
    <li class="list-group-item">
        <strong>Payment State:</strong> <%= getOneCustomerInfo.paymentState %><br>
    </li>
    <li class="list-group-item">
        <strong>Payment Zip:</strong> <%= getOneCustomerInfo.paymentZip %><br>
    </li>
    <li class="list-group-item">
        <strong>Routing Number:</strong> <%= getOneCustomerInfo.routingNumber %><br>
    </li>
    <li class="list-group-item">
        <strong>Account Number:</strong> <%= getOneCustomerInfo.accountNumber %><br>
    </li>
    <li class="list-group-item">
        <strong>NOA File:</strong> <%= getOneCustomerInfo.noaFile %><br>
    </li>
    <li class="list-group-item">
        <strong>Direct Payment File:</strong> <%= getOneCustomerInfo.directPaymentFile %><br>
    </li>
    <li class="list-group-item">
        <strong>Type:</strong> <%= getOneCustomerInfo.type %><br>
    </li>
    <li class="list-group-item">
        <strong>Type 2:</strong> <%= getOneCustomerInfo.type2 %><br>
    </li>
    <li class="list-group-item">
        <strong>Type 3:</strong> <%= getOneCustomerInfo.type3 %><br>
    </li>
    <li class="list-group-item">
        <strong>Quantity:</strong> <%= getOneCustomerInfo.quantity %><br>
    </li>
    <li class="list-group-item">
        <strong>Quantity 2:</strong> <%= getOneCustomerInfo.quantity2 %><br>
    </li>
    <li class="list-group-item">
        <strong>Quantity 3:</strong> <%= getOneCustomerInfo.quantity3 %><br>
    </li>
    <li class="list-group-item">
        <strong>Power of Units:</strong> <%= getOneCustomerInfo.powerOfUnits %><br>
    </li>
        <% getOneCustomerInfo.desiredLanes.forEach(desiredLane => { %>
        <li class="list-group-item">
            <strong>From City:</strong><%= desiredLane.fromCity %><br>
    </li>
    <li class="list-group-item">
            <strong>To City:</strong><%= desiredLane.toCity %><br>
    </li>
    <% }); %>
</li>
    <li class="list-group-item">
        <strong>W9 file:</strong> <a href="/img/<%= getOneCustomerInfo.w9File %>"  class="btn btn-outline-secondary">Download PDF</a>
    </li>
    <li class="list-group-item">
       <strong>COI file:</strong>  <a href="/img/<%= getOneCustomerInfo.coiFile %>"  class="btn btn-outline-secondary">Download PDF</a>
    </li>
    <li class="list-group-item">
        <strong>Direct Payment:</strong>
        <% if (getOneCustomerInfo.directPaymentFile) { %>
            <a href="/img/<%= getOneCustomerInfo.directPaymentFile %>" class="btn btn-outline-secondary">Download PDF</a>
        <% } else { %>
            No file available
        <% } %>
    </li>
    <li class="list-group-item">
        <strong>NOA file:</strong>
        <% if (getOneCustomerInfo.noaFile) { %>
            <a href="/img/<%= getOneCustomerInfo.noaFile %>" class="btn btn-outline-secondary">Download PDF</a>
        <% } else { %>
            No file available
        <% } %>
    </li>
    <li class="list-group-item">
        <strong>Additional Note:</strong> <%= getOneCustomerInfo.additionalNote %><br>
    </li>
</ul>
</body>
</html>